@import url('./style.css');

header{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    padding: 5px 5%;
    background-color: var(--secondary);
    justify-items: center;
    color: var(--primary);
}

header nav{
    display: flex;
    justify-content: center;
}

header nav ul{
    list-style: none;
    display:flex;
    
}

header p{
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    cursor: default;
}

header button{
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    padding: 5px 30px;
    border-bottom: 3px solid rgba(55, 30, 170, 0.1);
    font-family: "Montserrat", Sans-serif;
}
header button:hover{
    cursor: pointer;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}