:root{
    --primary: rgb(55, 30, 170);
    --secondary: rgb(255, 255, 255);
    --third:rgb(85, 60, 255);
}

*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



body{
    margin: 0;
    background-color: var(--primary);
}
main{
    padding-top: 70px;
}